/* footer styles */

.footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-image: linear-gradient(to right, grey, black);
    height: 274px;
    width: 100%;
}

.footer p {
    float: left;
    text-align: center;
    background-color: #36383f;
    padding: 20px 16px;
    width: 594px;
    overflow: hidden;
    font-size: 35px;
    color: white;
    font-family: 'Red Hat Display',sans-serif;
    font-weight: bold;
    border: 1px solid #5c5c5e ;
    box-sizing: border-box;
}

.footer span{
    font-family: 'Secular One', sans-serif;
}

