/* main section styles */
.main-section{
    height: 100%;
    background-image: linear-gradient(to right, grey, black);
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section > .right-side > .websiteimg img{
    width: 900px;
    float: right;
}

/* left side of middle section */
.main-section > .left-side {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: left;
    margin-left: 75px;
}

.addtional-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 230px;
}

.top-heading {
    font-size: 40px;
    color: white;
    font-family: 'Red Hat Display',sans-serif;
    margin-top: -200px;
}

.bottom-heading {
    font-size: 40px;
    color: white;
    font-family: 'Red Hat Display',sans-serif;
    filter: brightness(70%);
}

.sign-up-free {
    border-radius: 5px;
    background-color: #4bce79;
    padding: 15px 25px;
}

.sign-up-free a {
    font-size: 35px;
    font-family: 'Red Hat Display',sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.learn-more {
    border-radius: 5px;
    background-color: black;
    padding: 15px 25px;
}

.learn-more a {
    font-size: 35px;
    font-family: 'Red Hat Display',sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* right side of middle section */
.right-side > .codepenproject {
    font-size: 25px;
    color: white;
    margin: 50px 0px -20px 15px;
}

.codepenproject span{
    color: #5aaccf;
    filter: brightness(140%);
}